<h1 class="title">השקם הצף</h1>
    <h1 class = .>שעות פעילות</h1>
    <table>
        <tr>
            <th>שעות</th>
            <th>יום</th>
        </tr>
        <tbody *ngFor="let day of days">
            <tr>
                <td><input type="text" [(ngModel)]="day.operatingHours"/>{{day.operatingHours}}</td>
                <td>{{day.letter}}</td>
            </tr>
        </tbody>
    </table>

    <h1>אחראי שקם </h1>
    <table>
        <tr>
            <td><input type="text" [(ngModel)]="day.responsible"/>{{day.responsible}}</td>
            <td>{{day.letter}}</td>
        </tr>
    </table>
