<h1 class="title">השקם הצף</h1>
    <h1 class = .>שעות פעילות</h1>
    <table>
        <tr>
            <th>שעה</th>
            <th>יום</th>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>א</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ב</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ג</td>

        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ד</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ה</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ו</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ש</td>
        </tr>
    </table>

    <h1>אחראי שקם </h1>
    <table>
        <tr>
            <td><input type="text"/></td>
            <td>א</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ב</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ג</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ד</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ה</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ו</td>
        </tr>

        <tr>
            <td><input type="text"/></td>
            <td>ש</td>
        </tr>
    </table>
